<div id="page_wrapper">

	<div id="content">
		<h1>Welcome to Resumaid!</h1>
		<p>A personalized job application tracking app to help employment-seekers record, customize, and manage their submissions.</p>
		<ul>
			<li>Easily generate a personalized cover letter</li>
			<li>Never forget which resume you submitted</li>
			<li>See which submissions perform best!</li>
		</ul>
	</div>
</div>
