<div id="page_wrapper">

	<div id="content">
		<h1>Default Resume</h1>
        <h2><b>EXPERIENCE</b></h2>
        <h3>Full-stack Developer, Pick a Play Networks, March 2016 - August 2017</h3>
        <p>Designed and developed software for immersive, mobile arcade game prototypes and built company website. Primary tools used: Clojure, React, Webpack, NPM, Grunt, Gulp, Babel, Leiningan, CouchDB, Sketch.</p>
        <h3>Operations Manager, NewWorld Capital Group, June 2014 - October 2015</h3>
        <p>Managed day-to-day logistics of senior level staff at clean-energy, private equity firm with high-profile personality serving as principal. Organized investor meetings, arranged travel, maintained calendars, ordered and organized office supplies, tracked expenses, drafted reports, payed vendors, and hosted events.</p>
        <h3>Real Estate Agent, Nooklyn, May 2013 - June 2014</h3>
        <p>Posted ads for listings, showed apartments and commercial spaces, acted as liaison between landlord and applicants, negotiated prices, pursued and acquired new business, collected tenant and guarantor paperwork, assisted tenants in finding roommates.</p>
        <h3>Planning Associate, J. Walter Thompson, September, 2009 - May, 2013</h3>
        <p>Assisted Global Planning Directors with research. Managed arrangement, prints, and copies of decks. Submited requests for pitch art through Production Department. Highlight: Asked by boss to join creative team as featured copywriter on major national digital campaign for household name brand.</p>
        <h2><b>EDUCATION</b></h2>
        <p>B.A. Theatre & Dance, Trinity College, Hartford</p>
        <p>Web Development, Dev Bootcamp</p>
        <p>CELTA (High Pass), Teaching House, NYC</p>
        <h2><b>SKILLS</b></h2>
        <p>HTML, CSS, JavaScript, JQuery, React, Clojure, UI, Bootstrap, Responsive Design, Sketch, Ruby on Rails, REST API’s, SQL, Git, CouchDB, Webpack, Babel, Grunt, Gulp, Stand-up Comedy, Writing. Currently teaching myself Python for Raspberry Pi game development.</p>
	</div>
</div>
